/* Shared style */
body{
    font-family: 'Open Sans';
}
.special{
color: #FD6E0A;
font-size: 45px;
font-weight: 800;
}
.button-primary{
font-size: 25px;
border-radius: 5px;
background: #FD6E0A;
border: 0;
color: white;
font-weight: 700;
padding: 15px 35px;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color:  #181818;
    font-size: 45px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
list-style: none;
margin-right: 50px;
;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header related style */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex; 
    justify-content: space-between;
}
.banner-greating{
    /* margin-bottom: 0px; */
}
.banner-paragraph{
font-family: sans-serif;
color: #757575;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 30px; /* 166.667% */
 margin-top: 3px; 
}
.banner-heading{
color:(#181818);
font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5px; 
}
.banner.title{
color: var( #474747);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
/* margin-top: 5px; */
}
.profile-picture{

}
/* main section styles */

/* main{ */
    /* max-width: 1140px; */
    /* margin: 0 auto; */
/* } */
section{
    margin-top: 130px;
}

/* about section styles */
.about{
    background-color:#FFF8F3 ;
    border-radius: 10px;
    padding: 209px 157px 221px 156px;   
    margin: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.section-title{
color: #181818 ;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-description{
    color: var(--Dark-03, #757575);
text-align: center;
font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.about-info{
    text-align: center;
    margin-top: 5px;
}
#what-i-do-description{
    padding: 30px 150px;
    color: #757575;
text-align: center;
font-family: sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
/* skills-related-styes */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color:  #757575;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
/* resume style here */
.resume-column-title{
    color: #474747;
font-size: 30px;
font-weight: 700;
margin-bottom: 10px;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-description{
    color: #757575;
font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.resume-item-title{
    color: #474747;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.resume-item-institute{
    color:  #757575;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer section part */
.social-links a{
margin-right: 25px;
}
footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;
}
.contact input[type="text"], .contact input[type="email"] ,textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background:  #FFF;
    border: 0px;
    width: 100%;
}
#preloader{
    background:#FFF8F3 url(../images/preloder.gif) no-repeat center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}